.header{
    background-color: black;
}

.btn{
    background-color: red;
}

.navInfo{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-shadow: 1px 1px 2px #00eafff7;
}

.frist-container{
    border-radius: 32px 32px 0 0;
    background-color: #000000;

}
.backgroundFrist{
    background-color: rgb(0, 234, 255);
}

h1,p{
    color: black;
    text-shadow: 1px 1px 1px #00eafff7;
}